<body>
    <h1 style="font-family: OCR A Std, monospace; color:#00478E;">Create a New event</h1>
    <div style="margin-left: 10%; background-image: url('https://images.unsplash.com/photo-1513128034602-7814ccaddd4e?ixlib=rb-1.2.1&auto=format&fit=crop&w=375&q=80'); background-repeat: no-repeat; background-position: 85% 45%;" align="left">
    <%= form_tag url_for(action: 'create'), method: "POST" do %>
        <input type="hidden" name="authenticity_token" value= <%= form_authenticity_token %> >
        <div class="form-group" style=" margin-right: 80%;">
            <%= label_tag "Name the Event :"%>
            <%= text_field_tag 'title', nil, class: 'form-control'%>
        </div>
        <div class="form-group" style=" margin-right: 85%;">
            <%= label_tag "How much it cost?"%>
            <%= text_field_tag 'price', nil, class: 'form-control'%>
        </div> 
        <div class="form-group" style=" margin-right: 65%;">
            <%= label_tag "About it"%>
            <%= text_area_tag 'description', nil, class: 'form-control'%>
        </div>  
        <div class="form-group" style=" margin-right: 80%;">
            <%= label_tag "When does it begin ?"%>
            <%= select_date Date.today, prefix: :start_date, class: 'form-control"' %>
        </div> 
        <div class="form-group" style=" margin-right: 80%;">
            <%= label_tag "How long it last? (in minutes)"%>
            <%= text_field_tag 'duration', nil, class: 'form-control'%>
        </div> 
        <div class="form-group" style=" margin-right: 70%;">
            <%= label_tag "Where does it take place?"%>
            <%= text_field_tag 'location', nil, class: 'form-control'%>
        </div>  
        <div class="form-group"> 
            <button type="submit" class="btn btn-warning">Create the Event</button>
        </div>  
    <% end %> 
    </div> 
</body>