<body>
    <div style="color:#3737F4; font-family: Marker Felt, fantasy;">
        <h2>About this Event</h2>
    </div>
        <div class="card" style="width: 50%; margin-left: 25%;">
        <div class="card-header" style="font-family: DejaVu Sans Mono, monospace;">It's Called <%= @event.title %></div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item" style="background-color:#7CC4DE; font-family: DejaVu Sans Mono, monospace;">It starts <%= @event.start_date %></li>
            <li class="list-group-item" style="background-color:#7CDEB0; font-family: DejaVu Sans Mono, monospace;">It happen at/in <%= @event.location %></li>
            <li class="list-group-item" style="background-color:#CDDE7C; font-family: DejaVu Sans Mono, monospace;">About it : <%= @event.description %></li>
        </ul>
        <a href="<%= new_event_attendance_path(@event.id) %>" <button type="button" class="btn btn-outline-succes" >Register for this event</button></a>
        </div>
</body>